@{
	ViewData["Title"] = "Home Page";
}

<div class="container">
	<div class="d-flex justify-content-center flex-column">
		<a href='@Url.Action("BestAttackingTeams", "Home")' class="btn btn-primary p-3 m-2">Best Attacking Teams</a>
		<a href='@Url.Action("BestDefensiveTeams", "Home")' class="btn btn-primary p-3 m-2">Best Defensive Teams</a>
		<a href='@Url.Action("BestScoreDifferenceTeams", "Home")' class="btn btn-primary p-3 m-2">Best Score Difference Teams</a>
		<a href='@Url.Action("TheMostEffectiveDay", "Home")' class="btn btn-primary p-3 m-2">The Most Effective Day</a>
	</div>
	
	
	
	
</div>
